extends ../shared/layout
block main-content
  head
    title Home
  body
    h1 Hello!
    .wrapper.row2
      #container.clear
        section#services.clear
          each car in cars
            article.one_third
              img(src='/images/' + car.image, alt='')
              h2 Make: #{car.make}
              h2 Model: #{car.model}
              h3 price: #{car.price}
              h2 Created on: #{moment(car.date).format("YYYY/MM/DD")}
              h2 Views: #{car.views}
              footer.more
                a(href="/cars/details/" + car._id) Read More »
            br