extends ../shared/layout
block main-content
  head
    title Article details
  body
    .wrapper.row2
      #container.clear
        section#services.clear
          each art in article
            article.one_third
              h3 #{art.title}
              img(src='/images/' + art.image, alt='')
              p Description: #{art.description}
              p Content: #{art.content}
              p Author: #{art.author}
              if (art.updatedDate)
                p Last updated on: #{moment(art.updatedDate).format("YYYY/MM/DD")}
              else
                p Created on: #{moment(art.date).format("YYYY/MM/DD")}
              p Views: #{art.views}    
              footer.more
                a(href="/articles/edit/" + art._id) Edit »
                br
                a(href="/articles/remove/" + art._id) Delete
              br
              form.formForComments(method="post" action="/articles/details/" + art._id + "/uplaodComment")
                label(for="commentText") Write your comment here
                br
                input(type="text" name="commentText" id="commentText" value=commentText)
                br
                label(for="commentUsername") Username
                br
                input(type="text" name="commentUsername" id="commentUsername" value=commentUsername)
                br
                br
                input(type="submit" value="Publish your comment")
              br
              if art.comments.length > 0
                each comment in art.comments
                  div.comment
                    h5 Comment: #{comment.text}
                    h5 Posted by: #{comment.username}
                  hr
