extends ../shared/layout
block main-content
  head
    title Review all articles
  body 
    .wrapper.row2
      #container.clear
        section#services.clear
          each article in articles
            article.one_third(class=article.deleteMarker ? 'deleted' : '')
              h3 #{article.title}
              img(src='/images/' + article.image, alt='')
              h2 Description: #{article.description}
              h2 Created on: #{moment(article.date).format("YYYY/MM/DD")}
              if (article.updatedDate)
                h2 Last updated on: #{moment(article.updatedDate).format("YYYY/MM/DD")}
              footer.more
                if (!article.deleteMarker)
                  a(href="/articles/details/" + article._id) Read More »
                else
                  a(href="/articles/restore/" + article._id) Undelete
            br
        ul.pagination
          - for (var x = 0; x < Math.ceil(pages); x++)
            li(class= (x == page) ? 'active' : '')
              a(href='?page=' + x)=(x+1)